<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <% data.forEach(element => { %>
      <div>
        <h2><%= data.country %></h2>
        <h4>Total Confirmed Cases:<%= data.confirmed %></h4>
        <h4>Total Deaths Cases:<%= data.deaths %></h4>
        <h4>Total recovered cases:<%= data.recovered %></h4>
        <p>Date:<%= data.date %></p>
      </div>
      <% }) %>
    </main>
  </body>
</html>
